<h1>About Dino-Site!</h1>
<form method="POST" name="add_dino"><div></div>
    <div>
        <label for="slug">Slug:</label>
        <input type="text" id="slug" name="slug" required minlength="4" maxlength="8" size="10">
    </div>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10">
    </div>
    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="Description" rows="5" cols="33">
    </div>
    <div>
        <label for="image">Image:</label>
        <input type="text" id="image" name="image" required minlength="4" maxlength="8" size="10">
    </div>
    <div>
        <label for="image credit">Image Credit:</label>
        <input type="text" id="image credit" name="image credit" required minlength="4" maxlength="8" size="10">
    </div>
    <div>
        <label for="source URL">Source URL:</label>
        <input type="text" id="source URL" name="source URL" required minlength="4" maxlength="8" size="10">
    </div>
    <div>
        <label for="source credit">Source Credit:</label>
        <input type="text" id="source credit" name="source credit" required minlength="4" maxlength="8" size="10">
    </div>
    <button type="submit"
    value="Submit">Submit</button>
    <button type="reset" value="Reset">Reset</button>
</form>